manifest {
    description = 'Template Nextflow'
    mainScript  = 'main.nf'
}

params {
    // input options
    input = false
    outdir = 'results'

    // optional
    species = 'homo_sapiens'
    help = false
}

docker.enabled = true

includeConfig 'conf/proc_resources.config'

profiles {
  standard {includeConfig 'conf/base.config'}
  google {includeConfig 'conf/google.config'}
  test {includeConfig 'conf/test.config'}
  local {includeConfig 'conf/local.config'}
}

process {
  withName: vep_annotate {
    container = 'quay.io/lifebitai/vep-nf'
  }
}
