params {
    // input options
    input = false
    outdir = 'results'


    // optional
    variant_query_size = 10000
    variant_query_set_suffix_lenght = 10
    genome = 'hg38'
    key = false
    add_all_data = 1
    add_ACMG_annotation = 1
    add_source_databases = 'all'
    add_region_databases = 'all'
    expand_pubmed_articles = 0
    pathogenicity_filter_values = 'test_data/pathogenicity_filters.txt'

    species = 'homo_sapiens'
    help = false

}
