// Config to be used when running pipeline with locally installed cache, plugins, and plugin data.

// Include all params from base config
includeConfig 'base.config'

// Overwrite params specific for local execution
params {
    // input options
    input = 'test_data/sample_parabrics_conv_gvcf.vcf'
    outdir = 'results'

    // Optional
    variant_query_size = 10
    variant_query_set_suffix_lenght = 2
    genome = 'hg38'
    key = false
    add_all_data = 1
    add_ACMG_annotation = 1
    add_source_databases = 'all'
    add_region_databases = 'all'
    expand_pubmed_articles = 0

    // resources
    max_cpus = 4
    max_memory = 15.GB
    max_time = 8.h
}

executor {
    name = 'local'
}
