// Config to be used when running pipeline with locally installed cache, plugins, and plugin data.

// Include all params from base config
includeConfig 'base.config'

// Overwrite params specific for local execution
params {
    // input options
    input = 'test_data/example_GRCh38.vcf'
    outdir = 'results'

    // resources
    max_cpus = 4
    max_memory = 15.GB
    max_time = 8.h
}

executor {
    name = 'local'
}
