// Test config to provide files and parameters for test run.

// Include all params from base config
includeConfig 'base.config'

// Overwrite params specific for test
params {
    // input options
    input = 's3://lifebit-featured-datasets/containers/vep/example_GRCh38.vcf'
    outdir = 'results'

    // optional
    species = 'caenorhabditis_elegans'
    help = false

    // resources
    max_cpus = 2
    max_memory = 4.GB
    max_time = 8.h
}
